<!-- including header  -->
<%- include("./navbar.ejs") %>  

<div class="page_heading">
    <h2> edit product form </h2>
</div>

  
    <% if(typeof product !== 'undefined') { %>
  
        <div class="addProduct">
            
            <form method="POST"  action="/edit/<%=product._id%>?_method=PUT" class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                <label for="validationCustom01" class="form-label"> Product Title </label>
                <input type="text" value="<%=product.title%>" class="form-control" name="Product[title]" id="validationCustom01" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                </div>
                <div class="col-md-4">
                <label for="validationCustom02" class="form-label"> Product Price </label>
                <input type="number" value="<%=product.Price%>" name="Product[Price]" class="form-control" id="validationCustom02" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                </div>
                <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">image URL</label>
                <div class="input-group has-validation">
                    <input value="<%=product.url%>" type="text" name="Product[url]" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                    Please choose a image.
                    </div>
                </div>
                </div>

                <div class="col-md-4">

                    <input type="checkbox" id="100gm" name="Product[packing]">
                    <label for="100gm"> 100gm </label> <br>

                    <input type="checkbox" id="250gm" name="Product[packing]">
                    <label for="100gm"> 250gm </label> <br>

                    <input type="checkbox" id="400gm" name="Product[packing]">
                    <label for="400gm"> 450gm </label> <br> 

                    <input type="checkbox" id="200gm" name="Product[packing]">
                    <label for="200gm"> 200gm </label> <br>

                    <input type="checkbox" id="500gm" name="Product[packing]">
                    <label for="100gm">500gm </label> <br>

                    <input type="checkbox" id="300gm" name="Product[packing]">
                    <label for="100gm"> 300gm </label> <br>
                </div>


                <textarea name="Product[description]" class="form-control" placeholder="Give our Product Info" id="floatingTextarea2" style="height: 100px"> <%= product.description %> </textarea>

                <div class="col-12 submit-btn">
                    <button class="btn btn-success"> edit info </button>
                </div>
            </form>
        </div>

    <% } %>

<!-- including footer  -->
<%- include("./footer.ejs") %>