<!-- including header  -->
<%- include("./navbar.ejs") %>



<style>
        
    .show_reviews {
        width: 80%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 20px auto auto auto;
        min-height: 400px;
        padding-top: 20px;
        display: flex;
        
    }

    .show_reviews_img {
       height: 250px;
       width: 250px;
       border-radius: 50%;
    }


    .show_reviews_info {
       width: 60%;
       padding: 25px;
       font-size: 1.5rem;
    }

    .show_reviews_img-sec {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>



<h2> Edit Review </h2>
<div class="show_reviews">

    <% let date = review.createdAt %>
     
    <div class="show_reviews_img-sec">
        <img class="show_reviews_img" src="<%= img %>" alt="">
    </div>

    <div class="show_reviews_info">
        <form method="POST"  action="/edit-review/<%=review.productId%>/<%=review._id%>?_method=PUT" class="row g-3 needs-validation" novalidate> 
            
        <!-- starability code start -->
        <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Ratings</label>
            <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="Review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="Review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="Review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="Review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="Review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="Review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <!-- starability code end -->


         &nbsp;   Date : <%= date.getDate()%>/<%= date.getMonth()%>/<%= date.getFullYear() %> <br>
         &nbsp;   Customer Name :  xyz <br>
         &nbsp;   Comment: <textarea class="form-control" cols="200" rows="5" name="Review[comment]"> <%= review.comment %> </textarea> <br> <br>
        <button class="btn btn-success"> Edit </button> 
        </form>
        <br> <br> 
    </div>
</div>



<!-- including footer  -->
<%- include("./footer.ejs") %>