<!-- including header  -->
<%- include("./navbar.ejs") %>  


<!-- nav_circles sec start  -->
<div class="nav_circles">
        <% for(let circle in navCircles) { %>
            <a style="text-decoration: none;" href="/navCircle/<%=navCircles[circle]._id %>">
                <div class="circle_outer">
                    <div class="circle"> <img class="circle_img" src="<%= navCircles[circle].url%>" alt=""> </div>
                    <div class="circle_name"> <%= navCircles[circle].title %> </div> 
                </div>
            </a>
        <% } %>
</div> 
<!-- nav_circles sec end  -->



<!-- image sec start -->
<div class="home_image">
</div>
<!-- image sec end -->


<!-- card sec start -->
<div class="home_products">
    <% if(typeof cards !== 'undefined') { %>
        <% for(card in cards) { %>

            <a class="cardLink" href="/show/<%=cards[card]._id%>" >
                <div class="card">
                    <div class="card_img">
                        <img src="<%= cards[card].url %>" alt="">
                    </div>

                    <div class="card_info">
                        <div> <% if(cards[card] && cards[card].title) { %> <%= cards[card].title.toUpperCase() %> <% } %> </div>
                        <h5> Rs.<%= cards[card].Price %> </h5>
                    </div>
                </div>
            </a>
            
        <% } %>
    <% } %>

</div>
<!-- card sec end -->



<div class="space">

</div>



<script>

     let searchProducts = (event) => {
         let input = document.getElementById("input-search").value;
         let ProductContainer = document.querySelector(".home_products");
         
         ProductContainer.innerHTML = "";




        <%   for(let card in cards) {  %>
             
             
            if('<%- JSON.stringify(cards[card].title) %>'.trim().toUpperCase().includes(input.trim().toUpperCase()) ) { 
                console.log('<%- JSON.stringify(cards[card].title) %>' );

                anchor = document.createElement('a');
                mainDiv = document.createElement('div');
                imgDiv = document.createElement('div');
                img = document.createElement('img');
                infoDiv = document.createElement('div');
                titleDiv = document.createElement('div');
                h5 = document.createElement('h5');  

                anchor.className = 'cardLink';
                anchor.href = "/show/<%=cards[card]._id%>";

                mainDiv.className = "card";
                imgDiv.className = "card_img";
                img.src = "<%= cards[card].url %>";
                
                infoDiv.className = "card_info";
                titleDiv.innerHTML = '<%= cards[card].title.toUpperCase() %>';
                h5.innerHTML = '<%= cards[card].Price %>';

                anchor.append(mainDiv);
                mainDiv.append(imgDiv);
                mainDiv.append(infoDiv);

                imgDiv.append(img);
                infoDiv.append(titleDiv);
                infoDiv.append(h5);
        
                ProductContainer.append(anchor);
              }  
        <%  }  %>

       

   

         console.log("is it working");

     }
</script>




<!-- including footer  -->
<%- include("./footer.ejs") %>