<!-- including header  -->
<%- include("./navbar.ejs") %>  


<!-- nav_circles sec start  -->
<div class="nav_circles">
     <div class="circle_outer">
         <div class="circle"></div>
        <div class="circle_name"> Deals </div> 
     </div>

     <div class="circle_outer">
        <div class="circle"></div>
        <div class="circle_name"> Explore Us </div> 
    </div>

    <div class="circle_outer">
        <div class="circle"></div>
        <div class="circle_name"> New Arrival </div> 
    </div>

    <div class="circle_outer">
        <div class="circle"></div>
        <div class="circle_name"> Best Seller </div> 
    </div>

    <div class="circle_outer">
        <div class="circle"></div>
        <div class="circle_name"> Pancake - Whole Grain </div> 
    </div>

    <div class="circle_outer">
        <div class="circle"></div>
        <div class="circle_name"> Nutriefit meals </div> 
    </div>

    <div class="circle_outer">
        <div class="circle"></div>
        <div class="circle_name"> Wholesome Millet Munch  </div> 
    </div>

    <div class="circle_outer">
        <div class="circle"></div>
        <div class="circle_name"> Nuts & Mix Marvels </div> 
    </div>

    <div class="circle_outer">
        <div class="circle"></div>
        <div class="circle_name"> Deliciously Dried Fruits </div> 
    </div>

    <div class="circle_outer">
        <div class="circle"></div>
        <div class="circle_name"> Fruity Delight Bites </div> 
    </div>

    <div class="circle_outer">
        <div class="circle"></div>
        <div class="circle_name"> Raw Sugar </div> 
    </div>

    <div class="circle_outer">
        <div class="circle"></div>
        <div class="circle_name"> Chocolate Nuts Bliss </div> 
    </div>

    <div class="circle_outer">
        <div class="circle"></div>
        <div class="circle_name"> Granola Galore </div> 
    </div>
</div> 
<!-- nav_circles sec end  -->



<!-- image sec start -->
<div class="home_image">
</div>
<!-- image sec end -->


<!-- card sec start -->
<div class="home_products">

    <% if(cards && cards.length > 0) { %>
        <% for(card in cards) { %>

            <a href="/product/show/<%=cards[card]._id%>" >
                <div class="card">
                    <div class="card_img">
                        <img class="card_img" src="<%= cards[card].url %>" alt="">
                    </div>

                    <div class="card_info">
                        <h3> <%= cards[card].title %> </h3>
                        <h5> <%= cards[card].Price %> </h5>
                        <p> <%= cards[card].description %> </p>
                    </div>
                </div>
            </a>
            
        <% } %>
    <% } %>
</div>
<!-- card sec end -->



<div class="space">

</div>




<!-- including footer  -->
<%- include("./footer.ejs") %>