<!-- including header  -->
<%- include("./navbar.ejs") %> 



<!-- Product info Start -->
<div class="product_container">

    <% if(typeof product !== 'undefined') { %>
        <div class="product_img">
           <img src="<%=product.url%>" alt="">
        </div>

        <div class="product_info">
            <p> Nutriefoods </p>
            <h3> <% if(product && product.title) { %> <%= product.title.toUpperCase() %> <% } %> </h3>
            <div class="product_price"> <h5> Rs.<%= product.Price %> </h5> </div>
            <p class="product_desc"> <%= product.description %> </p>

            <div class="delete-edit-btn">
                <form method="POST" action="/delete/<%=product._id%>?_method=DELETE">
                    <button class="btn btn-success"> Delete </button>
                </form>
                
                <a href="/edit/<%=product._id%>"> <button class="btn btn-success"> edit </button> </a>
            </div>
            

        </div>
    <% } %>
</div>

<!-- Product info end -->


<br> <br> <br> <br> <br> <br> 




<!-- Give review Start -->
<div class="review-sec">
    <hr>
    <h3> Reviews </h3>
   
    <form class="form" method="POST" action="/review/<%=product._id%>">

        <!-- starability code start -->
        <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="Review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="Review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="Review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="Review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="Review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="Review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <!-- starability code end -->

        <label for="customRange1" class="form-label"> Reviews </label>
        <textarea class="form-control" cols="200" rows="5" name="Review[comment]"> eg: nice product </textarea> <br>

        <button class="btn btn-success"> Add Reviews </button>
    </form>
    
    <hr>
</div>

<!-- Give review end -->


<br> <br> <br> <br> <br>





<!-- Suggested Products Start -->
<div class="suggested_products">
    
        <% if(typeof cards !== 'undefined') { %>
        <% for(card in cards) { %> 

            <% if(cards[card]._id.toString() !== product._id.toString()  ) { %>         
                    <a class="cardLink" href="/show/<%=cards[card]._id%>" >
                        <div class="card">
                            <div class="card_img">
                                <img src="<%= cards[card].url %>" alt="">
                            </div>

                            <div class="card_info">
                                 <div> <% if(cards[card] && cards[card].title) { %> <%= cards[card].title.toUpperCase() %> <% } %> </div>
                                <h5> <%= cards[card].Price %> </h5>
                            </div>
                        </div>
                    </a>
                <% } %>

            <% } %>
        <% } %>
 </div>
<!-- Suggested Products end -->





 <!-- Showing reviews start -->
 <div class="reviews_outer">

    <!-- left btn -->
   <div class="move_btns" id="left-btn">
     <span class="review_btn"> <i class="fa-solid fa-chevron-left"></i> </span>
   </div>

        <div class="reviews"> 

            <% for(review in reviews) { %>
                <% let date = reviews[review].createdAt %>
              
                 <a href="/review-show/<%=reviews[review]._id%>" style="text-decoration: none;">

                    <div class="review_card">
                        <div class="review_img">
                            <img class="review_img" src="<%=product.url%>">
                            <div class="review_stars"> <% for(let i=0; i<reviews[review].rating; i++) { %>&#9733;<% } %>
                            <p class="review_date"> <%= date.getDate()%>/<%= date.getMonth()%>/<%= date.getFullYear() %> <span class="review_by"> Customer </span> </p>
                            </div> 
                        </div>
        
                        <div class="review_text"> 
                            <%= reviews[review].comment %>
                        </div>
                    </div>
                </a>

          <% } %>
        </div>

    <!-- right btn -->
    <div class="move_btns" id="right-btn">
      <span class="review_btn"> <i class="fa-solid fa-chevron-right"></i>  </span>
    </div>

 </div>

 <!-- Showing reviews end -->


<!-- including footer  -->
<%- include("./footer.ejs") %>