<!-- including header  -->
<%- include("./navbar.ejs") %> 

<style>
        
    .show_reviews {
        width: 80%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 20px auto auto auto;
        min-height: 400px;
        padding-top: 20px;
        display: flex;
        
    }

    .show_reviews_img {
       height: 250px;
       width: 250px;
       border-radius: 50%;
    }


    .show_reviews_info {
       width: 60%;
       padding: 25px;
       font-size: 1.5rem;
    }

    .show_reviews_img-sec {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>



<h2 style="text-align:center; margin-top: 50px"> NavCircle </h2>
<div class="show_reviews">

    <div class="show_reviews_img-sec">
        <img class="show_reviews_img" src="<%= navCircle.url %>" alt="">
    </div>

    <div class="show_reviews_info">
        Title : <%= navCircle.title %>  <br>
        URL : <span style="font-size: 20px"> <%= navCircle.url %>  </span> <br> <br>
        
       <a class="row g-3" href="/edit-navCircle/<%=navCircle._id%>"> <button class="btn btn-success"> edit </button> </a> <br>
       
       <form method="POST"  action="/delete-navCircle/<%=navCircle._id%>?_method=DELETE" class="row g-3" novalidate> 
              <button class="btn btn-dark"> Delete </button> 
        </form>
    </div>
    
</div>




<!-- including footer  -->
<%- include("./footer.ejs") %>