<!-- including header  -->
<%- include("./navbar.ejs") %> 

<style>

.view-all-products {
    margin: 20px 10px 20px 10px;
    border: 2px solid black;
}

</style>



<div class="view-all-products">

      <% for(let card in products) { %>
         
        <a class="cardLink" href="/show/<%=products[card]._id%>" >
          <div class="card">
              <div class="card_img">
                  <img src="<%= products[card].url %>" alt="">
              </div>

              <div class="card_info">
                  <div> <% if(products[card] && products[card].title) { %> <%= products[card].title.toUpperCase() %> <% } %> </div>
                  <h5> Rs.<%= products[card].Price %> </h5>
              </div>
          </div>
      </a>
 
      <% } %>

</div> 






<script>
     
  //  search functionality start
   let searchProducts = (event) => {
       let input = document.getElementById("input-search").value;
       let ProductContainer = document.querySelector(".view-all-products");
       ProductContainer.innerHTML = "";

      <%   for(let card in products) {  %>
           
           
          if('<%- JSON.stringify(products[card].title) %>'.trim().toUpperCase().includes(input.trim().toUpperCase()) ) { 
              console.log('<%- JSON.stringify(products[card].title) %>' );

              anchor = document.createElement('a');
              mainDiv = document.createElement('div');
              imgDiv = document.createElement('div');
              img = document.createElement('img');
              infoDiv = document.createElement('div');
              titleDiv = document.createElement('div');
              h5 = document.createElement('h5');  

              anchor.className = 'cardLink';
              anchor.href = "/show/<%=products[card]._id%>";

              mainDiv.className = "card";
              imgDiv.className = "card_img";
              img.src = "<%= products[card].url %>";
              
              infoDiv.className = "card_info";
              titleDiv.innerHTML = '<%= products[card].title.toUpperCase() %>';
              h5.innerHTML = '<%= products[card].Price %>';

              anchor.append(mainDiv);
              mainDiv.append(imgDiv);
              mainDiv.append(infoDiv);

              imgDiv.append(img);
              infoDiv.append(titleDiv);
              infoDiv.append(h5);
      
              ProductContainer.append(anchor);
            }  
      <%  }  %>

   }
  //  search functionality end

</script>






<!-- including footer  -->
<%- include("./footer.ejs") %>