<!-- heading -->
<%- include("../Admin/heading.ejs") %>

<!-- left part  -->
<%- include("../Admin/leftPanel.ejs") %>

<style>
    td b a {
        text-decoration: none;
        color: black;
    }

    .orders-row {
        justify-content: space-between;
    } 
</style>



<div class="window">

<h2 class="heading"> Our Orders </h2>

<div class="allProducts">
    <!-- testing start-->
     
    <div class="product-row row-effect orders-row"> 
        <div> <b> OrderId </b> </div>
        <div> Date </div>
        <div> Customer </div>
        <div> Payment </div>
        <div> Status</div>
        <div> Item </div>
        <div> Delivery Status </div>
    </div>


    <% if(orders && orders.length > 0) { %>
        <% for(let i in orders) { %>
            <% if(type === "viewAll" || type === orders[i].status) { %>
            <% let order = orders[i] %>

            <% let date = order.Date %>
            <% let monthName = new Intl.DateTimeFormat("en-US", { month: "short" }).format; %>
            <% let formatter = new Intl.DateTimeFormat('en-US', { hour: '2-digit',  minute: '2-digit',  hour12: true }); %>

                <div class="product-row row-effect orders-row"> 
                    <div> <b> <a href="/order/show/<%=order.order_id%>">  <%= order.order_id %>   </a> </b> </div>
                    <div> <%= date.getDate()%> <%= monthName(date) %> at <%= formatter.format(date) %> </div>
                    <div> XYZ </div>
                    <div> <button class="<%= order.status === "Paid" ? 'btn btn-outline-success' : 'btn btn-outline-danger' %>"> <%= order.status %> </button> </div>
                    <div> unfullfilled </div>
                    <div> 5 </div>
                    <div> tracking Added </div>
                </div>
        
            <% } %>
       <% } %>
    <% } %>

    <!-- testing end -->
</div>

</div>

 
<!-- footer -->
<%- include("../Admin/footer.ejs") %>

 





