<%- include("../navbar.ejs") %>

<style>
    td b a {
        text-decoration: none;
        color: black;
    }
</style>


<h2 class="orders_heading"> Our Orders </h2>

<div class="allOrders">
    <table>
        <tr class="order_row">
            <th>orderId</th>
            <th> Date </th>
            <th>Customer</th>
            <th>Total</th>
            <th>Payment Status</th>
            <th> Fulfillment Status </th>
            <th> Items </th>
            <th> Delivery Status </th>
        </tr>

        <% for(let ord in orders) { %>
            <% if(type === "viewAll" || type === orders[ord].status) { %>
                <% let date = orders[ord].Date %>
                <% let monthName = new Intl.DateTimeFormat("en-US", { month: "short" }).format; %>
                <% let formatter = new Intl.DateTimeFormat('en-US', { hour: '2-digit',  minute: '2-digit',  hour12: true }); %>

                <tr class="order_row">
                        <td> <b> <a href="/order/show/<%=orders[ord].order_id%>">  <%= orders[ord].order_id %>    </a> </b> </td>
                        <td class="allOrders_date"> <span class="allOrders_time"> <%= date.getDate()%> <%= monthName(date) %> at <%= formatter.format(date) %> <span> </td>
                        <td> xyz </td>
                        <td> 100 </td>
                        <td> <button class="<%= orders[ord].status === "Paid" ? 'btn btn-outline-success' : 'btn btn-outline-danger' %>"> <%= orders[ord].status %> </button> </td>
                        <td> unfullfilled  </td>
                        <td> 5 </td>
                        <td> Tracking added </td>
                </tr>
               
            <% } %>
        <% } %>
    
    </table>
</div>

 






<%- include("../footer.ejs") %>