<!-- admin header  -->
<%- include("../Admin/heading.ejs") %>

<!-- admin left panel -->
<%- include("../Admin/leftPanel.ejs") %>

<style>
    .addProduct {
        padding: 15px;
        margin: 10px;
        background-color: white;
        border-radius: 10px;
    }

    .page_heading {
        text-align: center;
    }

    .show-img-div img {
        height: 200px;
        width: 360px;
    }
</style>

<div class="window">

<br>
<div class="page_heading">
    <h2> Edit Product Form </h2>
</div>
<br>

  
    <% if(typeof product !== 'undefined') { %>
  
        <div class="addProduct">
            
            <form method="POST"  action="/product/edit/<%=product._id%>?_method=PUT" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
                <div class="col-md-6">
                <label for="validationCustom01" class="form-label"> Product Title </label>
                <input type="text" value="<%=product.title%>" class="form-control" name="Product[title]" id="validationCustom01" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                </div>
                <div class="col-md-6">
                <label for="validationCustom02" class="form-label"> Product Price </label>
                <input type="number" value="<%=product.Price%>" name="Product[Price]" class="form-control" id="validationCustom02" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                </div>
                <div class="col-md-4">
                <br>
                
                <!-- image div   -->
                <div>
                    <label for="" class="form-label"> Old image </label>
                    <div class="show-img-div">
                        <img src="<%= product.url %>" alt="">
                    </div>

                    <br> <br> 
                    <label for="validationCustomUsername" class="form-label">Upload Image</label>
                    <div class="input-group has-validation">
                        <input type="file" name="Product[image]" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                        Please choose a image.
                        </div>
                    </div>
                    </div>
                    <br>

                    <label for=""> New Image </label>
                    <img style="height:180px; width: 380px" id="blah" alt="Select Image"/>   <!-- test -->

                    <br> <br>
                </div>
                <!-- image div end -->
                
            <!-- packing size -->
             <h3> Packing Size</h3>

                <div class="col-md-10">

                    <input type="checkbox" id="100gm" name="Product[packing]">
                    <label for="100gm"> 100gm </label> <br>

                    <input type="checkbox" id="250gm" name="Product[packing]">
                    <label for="100gm"> 250gm </label> <br>

                    <input type="checkbox" id="400gm" name="Product[packing]">
                    <label for="400gm"> 450gm </label> <br> 

                    <input type="checkbox" id="200gm" name="Product[packing]">
                    <label for="200gm"> 200gm </label> <br>

                    <input type="checkbox" id="500gm" name="Product[packing]">
                    <label for="100gm">500gm </label> <br>

                    <input type="checkbox" id="300gm" name="Product[packing]">
                    <label for="100gm"> 300gm </label> <br>
                </div>



                 <!-- category -->
            <h3> Select Category </h3>
            <div class="col-md-10">

                <input type="checkbox" id="Best-Seller" name="Product[category][Best_Seller]"  <%= product.category.Best_Seller ? "checked" : "" %>>
                <label for="Best-Seller"> Best Seller </label> <br>

                <input type="checkbox" id="New-Launches" name="Product[category][New_Launches]" <%= product.category.New_Launches ? "checked" : "" %>>
                <label for="New-Launches"> New Launches </label> <br>

                <input type="checkbox" id="Fruity-Delight-Bites" name="Product[category][Fruity_Delight_Bites]" <%= product.category.Fruity_Delight_Bites ? "checked" : "" %>>
                <label for="Fruity-Delight-Bites"> Fruity Delight Bites </label> <br> 

                <input type="checkbox" id="Nuts-&-Mix-Marvels" name="Product[category][Nuts_Mix_Marvels]" <%= product.category.Nuts_Mix_Marvels ? "checked" : "" %>> 
                <label for="Nuts-&-Mix-Marvels"> Nuts & Mix Marvels </label> <br>

                <input type="checkbox" id="Deliciously-Dried-Fruits" name="Product[category][Deliciously_Dried_Fruits]" <%= product.category.Deliciously_Dried_Fruits ? "checked" : "" %>>
                <label for="Deliciously-Dried-Fruits"> Deliciously Dried Fruits </label> <br>

                <input type="checkbox" id="Chocolate-Nuts-&-Bliss" name="Product[category][Chocolate_Nuts_Bliss]" <%= product.category.Chocolate_Nuts_Bliss ? "checked" : "" %>>
                <label for="Chocolate-Nuts-&-Bliss"> Chocolate Nuts & Bliss </label> <br>

                <input type="checkbox" id="Wholsome-Millet-Munch" name="Product[category][Wholsome_Millet_Munch]" <%= product.category.Wholsome_Millet_Munch ? "checked" : "" %>>
                <label for="Wholsome-Millet-Munch"> Wholsome Millet Munch </label> <br>

                <input type="checkbox" id="Raw-Sugar" name="Product[category][Raw_Sugar]" <%= product.category.Raw_Sugar ? "checked" : "" %>>
                <label for="Raw-Sugar"> Raw Sugar  </label> <br>

                <input type="checkbox" id="Pancakges" name="Product[category][Pancakes]" <%= product.category.Pancakes ? "checked" : "" %>>
                <label for="Pancakges"> Pancakges </label> <br>

                <input type="checkbox" id="Nutriefit-Meals" name="Product[category][Nutriefit_Meals]" <%= product.category.Nutriefit_Meals ? "checked" : "" %>>
                <label for="Nutriefit-Meals"> Nutriefit Meals </label> <br>

                <input type="checkbox" id="Granola-Galore" name="Product[category][Granola_Galore]" <%= product.category.Granola_Galore ? "checked" : "" %>>
                <label for="Granola-Galore"> Granola Galore </label> <br>
                <br> <br> 
            </div>

           



                <textarea name="Product[description]" class="form-control" placeholder="Give our Product Info" id="floatingTextarea2" style="height: 100px"><%= product.description %></textarea>

                <div class="col-12 submit-btn">
                    <button class="btn btn-success"> edit info </button>
                </div>
            </form>
        </div>

    <% } %>

    <br> <br> <br> <br> <br>
</div>



<!-- admin footer  -->
<%- include("../Admin/footer.ejs") %>
